.NavBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  height: 100px;
  box-shadow:  0px 4px 2px -2px lightgrey;
  margin-bottom: 50px;
}

.NavBar .ProfilePicture{
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.NavBarProfileDiv:hover{
  cursor: pointer;
}

.NavBar .ProfilePicture img{
  width: 100%;
  border-radius: 50%;
}

.NavBarOptions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBarOptions p{
  margin-bottom: 0px;
}

.Logout:hover{
  cursor: pointer;
}

.Logo{
  width: 200px;
  height: 100px;
}

.Logo img{
  max-width: 100%;
}

.Logo:hover{
  cursor: pointer;
}

.ListingPage {
  height: 100vh;
  width: 100%;
}

.Content {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 600px;
  flex-direction: row;
  padding-top: 50px;
}

.Carousel {
  margin-left: 50px;
  width: 30%;
  height: 400px;
  border-radius: 20px;
}

.ListingInfo {
  margin-left: 75px;
  width: 40%;
  height: 90%;
  padding: 20px;
}

.ListingPage h2 {
  font-weight: Bold;
  margin-bottom: 10px;
}

.ListingPage em {
  color: orange;
}

.List {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  width: 60%;
}

.List div em {
  font-weight: bold;
  color: black;
}

.Description {
  font-size: 16px;
  max-width: 500px;
}

.Col {
  margin-right: 25px;
}

.Col span {
  font-weight: bold;
}

@media only screen and (max-width: 1300px) {
  .Content {
    flex-direction: column;
    text-align: center;
    height: auto;
    align-items: center;
    width: 100%;
  }
  .Carousel {
    margin: 0 auto;
    height: auto;
    margin-bottom: 25px;
    width: 80%;
  }
  .ListingPage {
    margin: 0 auto;
    text-align: center;
  }
  .ListingInfo {
    margin: 0;
    padding: 0;
    width: 80%;
  }
  .List {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .Col {
    margin: 10px;
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 600px) {
  .Content {
    flex-direction: column;
    text-align: center;
    justify-content: content;
    height: auto;
    width: 80%;
  }
  .Carousel {
    margin: 0 auto;
    height: auto;
    margin-bottom: 25px;
    width: 80%;
  }
  .ListingPage {
    margin: 0 auto;
    text-align: center;
  }
  .ListingInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 80%;
  }
  .List {
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
  }
  .Col {
    margin: 0;
    width: 50%;
  }
}
