.NavBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  height: 100px;
  box-shadow:  0px 4px 2px -2px lightgrey;
  margin-bottom: 50px;
  width: 100%;
}

.NavBar .ProfilePicture{
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.NavBarProfileDiv:hover{
  cursor: pointer;
}

.NavBar .ProfilePicture img{
  width: 100%;
  border-radius: 50%;
}

.NavBarOptions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBarOptions p{
  margin-bottom: 0px;
}

.Logout:hover{
  cursor: pointer;
}

.Logo{
  width: 200px;
  height: 100px;
}

.Logo img{
  max-width: 100%;
}

.Logo:hover{
  cursor: pointer;
}

.Content {
  width: 80%;
  margin: 0 auto;
  text-align: start;
}

@media screen and (max-width: 1200px){
  .Content {
    width: 90%;
  }
}

.ResultsHeader{
  padding-left: 20px;
}

.Container {
  text-align: center;
  display: flex;
}

@media screen and (max-width: 1200px){
  .Container {
    flex-direction: column;
    margin: 0;
  }
}

.NoListings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 100px;
}

.Icon{
  margin-bottom: 20px;
}

.NoListings h1{
  margin-bottom: 10px;
}

.NoListings h2{
  text-align: center;
  width: 80%;
  line-height: 40px;
}

@media screen and (max-width: 1200px){
  .NoListings{
    width: 90%;
    margin: 50px auto;
  }
}